.app {
  width: 600px;
  margin-inline: auto;
}

.container {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 0.2rem;
  padding: 0.6rem 1rem;
  margin-block: 1rem;
  box-shadow: 0 0 10px -8px rgba(0,0,0,0.3);
}

.buttonContainer {
  display: flex;
}

.primaryButton {
  margin-left: auto;
  font-family: "Gill Sans", "Ubuntu", sans-serif;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 0.1rem;
  background-color: #e23e57;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.primaryButton:hover {
  opacity: 0.9;
}

.primaryButton:active {
  opacity: 1;
}

.primaryButton:disabled {
  opacity: 0.5;
}

.container p {
  margin-block: 1rem;
}